:root{
  --green: #6aa547;
  --text: #191919;    
  --muted: #4a4a4a;
  --border: rgba(0,0,0,.10);
}



.body {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text);
  margin: 8px 0 0;
}

.h3{
   margin: 0 0 12px;
  font-family: "Arapey", serif;
  color: #191919;
  font-size: 42px;
  line-height: 1.1;
}

.h4 {
  font-family: "Arapey", serif;
  font-size: 28px;
  line-height: 1.15;
  margin: 0 0 6px;
  color: var(--text);
}

.introEyebrow {
  margin: 0 0 10px;
  color: #6aa547;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.section{
  padding: 64px 0;
}

.container{
  width: min(1120px, calc(100% - 40px));
  margin: 0 auto;
}





.btnPrimary {
  width: 222px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #6aa547;
  color: #ffffff;

  font-size: 16px;
  font-weight: 800;
  text-decoration: none;

  border-radius: 0;
  border: 3px solid #6aa547;

  transition: background 0.15s ease, color 0.15s ease;
}

.btnPrimary:hover {
  background: transparent;
  color: #6aa547;
}


.btnSecondary {
  width: 222px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  color: #6aa547;

  font-size: 16px;
  font-weight: 800;
  text-decoration: none;

  border-radius: 0;
  border: 3px solid #6aa547;

  transition: background 0.15s ease, color 0.15s ease;
}

.btnSecondary:hover {
  background: #6aa547;
  color: #ffffff;
}



.srOnly{
  position:absolute;
  width:1px; height:1px;
  padding:0; margin:-1px;
  overflow:hidden; clip:rect(0,0,0,0);
  white-space:nowrap; border:0;
}


@media (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }

  .h4 {
    font-size: 26px;
  }

}