html,
body {
  margin: 0;
  padding: 0;
}



body {
  overflow-x: hidden;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #191919;
  font-size: 18px !important;
  line-height: 1.6;
}

@media (max-width: 768px) {
  body {
    font-size: 16px !important;
  }
}